@font-face {
    font-family: Lemondecourrier-Bold;
    src: url(../fonts/LeMondeCourrierPro-Bold.otf);
}
@font-face {
    font-family: Lemondecourrier-Demi;
    src: url(../fonts/LeMondeCourrierPro-Demi.otf);
}
@font-face {
    font-family: Karla;
    src: url(../fonts/Karla.ttf);
}
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Quicksand;
    src: url(../fonts/Quicksand-Bold.ttf);
}

.Head1{
    font-family:Lemondecourrier-Bold;
  color:#e75b1e;
  font-size:52px;
  font-weight: bold;
}

.Head2{
    font-family:Quicksand;  
    color:#e75b1e;
  font-size:52px;
  font-weight: 700;
}

.Head3{
    font-family: Lemondecourrier-Demi;
    color:#e75b1e;
  font-size:52px;
  font-weight: 700;
  
}
.Head4{
    font-family:Lemondecourrier-Demi;
  color:#e75b1e;
  font-size:28px;
  font-weight: bold;
}
.sub1{
    font-family: Karla;
    color:#666c73;
    font-size:1.25em;
    font-weight:400;
    line-height:1.3333333333;
}
.sub2{
    font-family: Roboto-Regular;
   
    color:#666c73;
    font-size:1.25em;
    font-weight:400;
    line-height:1.3333333333;
}
.font-bold{
    font-weight:1700;
}
.headline {
    font-size: 64px;
    line-height: 1.125;
}